{% extends "base.html" %}

{% block content %} 
<title> SecureX | Dashboard</title>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-white justify-content-center">
    <a class="navbar-brand main-heading">     
    &nbsp; SecureX 
    </a>
  </nav>
  <br><br>
  <div class="container bg-white shadow-md p-5 form-layout">
    <h5>Welcome, {{user}}</h5>
    <br>
    <p>This is your dashboard!</p>
    <br>
    <a class="btn btn-info navbar-btn" type="button" href="{% url 'user_logout' %}"> 
      Logout
    </a>
  </div>
  <br>
  <div class="container bg-white shadow-md p-5 form-layout">
    <h5>About SecureX</h5>
    <br>
    <p>SecureX is the most secure website in the world!</p>
  </div>
  <br>
  <div class="container bg-white shadow-md p-5 form-layout">
    <h5>Two-Factor authetification</h5>
    <br>
    <p>Two-factor authetification provides users with extra security.</p>
    <a class="btn btn-info navbar-btn" type="button" href="{% url 'two_factor:setup' %}"> 
      Enable 2FA
    </a>
    <br>
    <a class="btn btn-secondary navbar-btn mt-1" type="button" href="{% url 'two_factor:profile' %}"> 
      2FA Account settings
    </a>
    <br>
  </div>
  <br><br>
  {{ redirect_to_login_immediately }}
</body>
{% endblock %}
