{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %} 
<body>
  <title> SecureX | Register</title>

  <div class="container form-layout bg-white shadow-md p-5">
    <h1>Create your account</h1>
    <h5>Secure your account today!</h5>
    <br>
    
    <form method="post" autocomplete="off">
      {% csrf_token %}
      
      {{form.username|as_crispy_field}}
      {{form.email|as_crispy_field}}
      {{form.password1|as_crispy_field}}
      {{form.password2|as_crispy_field}}
      {{form.captcha}}
      {% for error in form.captcha.errors %}
        {% if error %}
        <span class="text-danger fw-bold">Error verifying reCAPTCHA, please try again.</span>
        {% endif %}
      {% endfor %}

      <button type="submit" class="btn btn-info btn-large w-100 btn-block p-3">Create your account</button>
    </form>

    <div class="text-center">
      <p>Already have an account? </p> <a href="{% url 'two_factor:login' %}>Login</a>
    </div>
  </div>
</body>
{% endblock %}
