{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

<title> SecureX |  Password reset </title>

{% block content %}
<div class="container bg-white shadow-md p-5 form-layout">
  <h3> Password reset </h3>
  <p> Forgottent your passsword? Enter your email below, and we'll email you instructions to est a new once.</p>

  <form method="POST">
    {% csrf_token %}
    {{ form|crispy }}
    <br><br>
    <button type="submit" class="btn btn-info btn-large w-100 btn-block p-3">Send email</button>
  </form>
</div>
{% endblock %}